<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">


		<div class="card-body border-primary mb-3">

			<h4 class="card-title">
				<a th:href="@{/customer/new/}" class="btn btn-primary btn-xs">New
					Customer</a>
			</h4>



			<nav th:replace="customer/paginator-nav :: paginator"></nav>

			
			
			<div class="row justify-content-center">

				<div class=".col-xs-6 .col-sm-3" th:each="customer: ${customers}">
					<div class="card">
						<img class="card-img-top" th:src="@{/images/customer.png}"
							width="30" height="200" alt="Mi Imagen"> <a
							class="btn btn-primary btn-xs"
							th:href="@{'/customer/detail/' + ${customer.id}}">Detail</a>

						<div class="card-body">
							<h4 class="card-title" th:text="${customer.name}">Henry
								Antonio</h4>
							<p class="card-text" th:text="${customer.lastname}">Mendoza
								Puerta</p>
							<p class="card-text" th:text="${customer.email}">hmendo81@gmail.com</p>
							<p class="card-text" th:text="${customer.createAt}">2018-06-26</p>
							<a href="#" th:href="@{'/customer/edit/' + ${customer.id}}"
								th:text="'edit'" class="btn btn-primary">Edit</a> <a href="#"
								th:href="@{'/customer/delete/'+ ${customer.id}}"
								th:text="'delete'"
								onclick="return confirm('Are you sure you want to delete?');"
								class="btn btn-danger">Delete</a> <a href="#"
								th:href="@{'/invoice/new/' + ${customer.id}}"
								class="btn btn-success">Invoice</a>
						</div>
					</div>
				</div>

			</div>

		</div>
		<nav th:replace="customer/paginator-nav :: paginator"></nav>
	</div>



	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>